<h1>About us <%= link_to 'Jungle', :root %></h1>
<div class="container">
"The best time to plant a tree was 20 years ago. The next best time is now." - Chinese Proverb
</div>
<br>
<div class="container">
Jungle is a psudo Canadian company that specializes in selling hardy tree and shrub seedlings. We produce a large variety of native and landscape seedlings that are packaged and shipped out of our cold storage warehouse every spring.
</div>
<br>
<div class="container">
We are affiliated with psudo five large reforestation nurseries in the USA that produce millions of seedlings annually. We mostly service clients in the USA east coast States and Canadian Provinces.
</div>
<br>
<div class="container">
We specialize in selling 1 to 5 year old plug and bare root seedlings and trees that can be quickly and easily transported and planted. We offer highly competitive prices and have over 100 species available. Most of our stock has been grown from seed that has been collected from local plants.
</div>
<br>
<div class="container">
We are owned and operated by a pretend professional foresters who want to positively influence our environment by promoting tree planting to help clean our air and conserve our soils.
</div>